TELEGRAM_BOT_TOKEN=your_bot_token_here
BACKEND_URL=http://127.0.0.1:8000/ask
GOOGLE_CREDENTIALS_JSON_PATH=C:\Users\mitya\Desktop\Ozon\arched-iterator-492115-a9-80399851867b.json
GOOGLE_SHEETS_ID=1hsCG660YWN9uvfgtbMigXNgRqMSmy433mx5MNQL8OD0
GOOGLE_SHEETS_WORKSHEET=Магазины
